nav {
    position: relative;
    z-index: 2;
    color: #fff;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-info {
    font-size: 2.5rem;
}